body{
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffff77;
    padding: 1rem;
}

h2{
    font-size: 1.3rem;
}


.SUCCESS {
    background-color: #77ff77;
    color: #007700;
    padding: 1rem;
    
}
.ERROR {
    background-color: #ff7777;
    color: #770000;
    padding: 1rem;
    
}
.WARNING {
    background-color: #ffff77;
    color: #777700;
    padding: 1rem;
    
}
.INFO {
    background-color: #7777ff;
    color: #000077;
    padding: 1rem;
    
}
.icon{
    height: 1rem;
}
.menu-icon{
    height: 1.5rem;
}
.dropdown label {
    font-size: 0.7rem;
    color:#212529;
}
.dropdown input{
    height: 1.5rem;
    font-size: 1rem;
}

/*hlavičkový řádek tabulky uživatelů*/
.user-head-row{
    border: 1px solid #212529;
    padding: 0px;
}
/*buňka hlavičky tabulky uživatelů*/
.th{
    
    justify-content: end;
    font-weight: bold;
    color: #ffffff;
    background-color: #212529;
    text-align: right;

}

/*řádek tabulky uživatelů*/
.user-row{
    background-color: green;
    padding: 0;
}



.user-row:nth-child(even) .td{
    background-color: #cccccc;
}


.td, .th {
    border: 1px solid #212529; 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem;
}
/*hlavičková buňka tabulky uživatelů*/
.user-row .th{
    color: #ffffff;
}
.user-row .action{
    justify-content: space-around;
    
}



.page-item.active a{
    cursor: default !important;
}
.page-item.active a:focus{
    box-shadow: none;
}

.profile-table .row{
    background-color: #cccccc;
}
.profile-table{
    border: 3px solid #212529; 
    background-color: #212529;
    height: max-content;
    padding: -1px 10px;
    
}


/*pro mobily*/
@media (max-width: 767px) {
    .login-container{
        width: 100%;
    }
    .user-row:nth-child(odd) .td{
        background-color: #cccccc;
    }
    .user-row{
        border: 3px solid #212529; 
        background-color: #212529;
    }
    .td{
        justify-content: center;
            
    }
}

.pagination{
    margin-top: 15px;       
}
/*pro pc*/
@media (min-width: 768px) {
    .login-container{
        width: 50%;
    }
    /*Kontainer tabulky uživatelů, která není tabulkou ale gridem kvůli lepší responzivitě(možnosti hodit na mobilech sloupce pod sebe).*/
    .users{
        font-size: 0.7rem;
        border: 3px solid #212529; 
        background-color: #212529;
        height: max-content;
        padding: -1px 10px;
    
    }
    .users .user-row:nth-child(odd) .td{
        background-color: #ffffff;
    }
    .users .user-row:hover .td{
        background-color: #212529;
        color: #ffffff;
    }                 
    
}