body{
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex: 1;
    
    padding: 1rem;
}


.SUCCESS {
    background-color: #77ff77;
    color: #007700;
    padding: 1rem;
    
}
.ERROR {
    background-color: #ff7777;
    color: #770000;
    padding: 1rem;
    
}
.WARNING {
    background-color: #ffff77;
    color: #777700;
    padding: 1rem;
    
}
.INFO {
    background-color: #7777ff;
    color: #000077;
    padding: 1rem;
    
}


/*hlavičkový řádek tabulky uživatelů*/
.user-head-row{
    border: 1px solid #212529;
    padding: 0px;
}
/*buňka hlavičky tabulky uživatelů*/
.th{

    
    color: #ffffff;
    background-color: #212529;
}

/*řádek tabulky uživatelů*/
.user-row{
    background-color: green;
    padding: 0;
}
/*buňka tabulky uživatelů*/
.user-row .th{
    color: #ffffff;
    text-align: right;
    
}
/*
.user-head-row>div{
    padding: 0px;
    border: 1px solid #212529;
}
*/


.user-row:nth-child(even) .td{
    background-color: #cccccc;
}

.user-row:active{
    background-color: #222222;
    color: #ffffff;
}

.td, .th {
    border: 1px solid #212529; 
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    place-content: center center;
    

    
    
}
strong.th{
    width: 100%;
}
/*pro mobily*/
@media (max-width: 767px) {
    .user-row:nth-child(odd) .td{
        background-color: #cccccc;
    }
    .user-row{
        border: 3px solid #212529; 
        background-color: #212529;
    }
}

.pagination{
    margin-top: 15px;       
}
/*pro pc*/
@media (min-width: 768px) {
    /*Kontainer tabulky uživatelů, která není tabulkou ale gridem kvůli lepší responzivitě(možnosti hodit na mobilech sloupce pod sebe).*/
    .users{
        font-size: 0.7rem;
        border: 3px solid #212529; 
        background-color: #212529;
        height: max-content;
        padding: -1px 10px;
    
    }
    .user-row:nth-child(odd) .td{
        background-color: #ffffff;
    }
    .user-row:hover .td{
        background-color: #212529;
        color: #ffffff;
    }                 
}